$textColor: #000000;

.header {
  &__container {
    display: flex;
    flex-shrink: 100px;
    flex-wrap: wrap;
  }

  &__information {
    display: flex;
    flex: 1;
    padding: 51px 55px 80px 60px;
    gap: 20px;
    flex-direction: column;
  }

  &__icons {
    display: flex;
    gap: 21px;
  }

  &__title {}

  &__decor {
    display: flex;
    max-width: 100%;
  }
}

.icons-box {
  &__item {}

  &__link {}

  &__image {}
}

.title {}

.decor {
  &__image {
    display: flex;
    width: 100%;
    max-width: 491px;
  }
}